<div class="loginColumns animated fadeInDown" id="menu-login">
  <div class="slider">
      <div class="box">
        <span class="title">Bienvenido</span>
        <span class="text">Somos una empresa de software especializada en soluciones de logística, transporte, supply chain y transito vehicular, focalizada en el desarrollo de aplicaciones innovadoras y creativas, utilizando tecnologías de última generación.<br><br>
        Creemos que la creatividad, la calidad humana y la pasión son pilares para lograr resultados trabajando en equipo.<br><br>
        Trabajamos por objetivo, cumpliendo metas, satisfaciendo necesidades con productos de alta calidad e innovadores.<br><br>
        Nuestra industria es el software y la tecnología, nuestro ADN es el desarrollo de software, por eso somos la única empresa de software especializada en procesos logísticos, y que hace del desarrollo de aplicaciones con alta tecnología su actividad principal.
        </span>
      </div>
  </div>
  <div ui-view class="login-ui-view"></div>
</div>
